:root{
    --login-background-color:rgb(255, 255, 255);
}
/* homeview */
:root{
    --homeview-bg-color:rgb(0, 0, 0);
}
/* 主页背景 */
:root{
    --bg-img-src:url("./img/bg/bg_dark.png");
}
/* 主页文字 */
:root{
    --main-bar-font-color:#822296;
    --main-text-font-color:#822296;
    --main-text-after-font-color:rgb(0, 0, 0);
}
/* shutter */
:root{
    --shutter-top-img-src:url("./img/shutter/top_dark.png");
    --shutter-bottom-img-src:url("./img/shutter/bottom_dark.png");
}
/* navbar */
:root{
    --navbar-bg-bg-img:url("./img/bar/nav/bg_dark.png");
    --navbar-bar-bg-img:url("./img/bar/nav/nav_bar_dark.png");
    --navbar-font-color:#822296;
}